html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Hero Image */
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url();
    background-image: url('../img/joelhilton.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: right bottom;
    filter: brightness(90%);
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    margin: 0.6rem 5rem;
}

.hero-title .title-one {
    font-family: eb-garamond-italic, "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-size: clamp(1em, 2vw, 1.5rem);
    letter-spacing: 1px;
    margin: 0;
}

.hero-title .title-two {
    font-family: metropolis-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-size: clamp(2em, 5vw, 4rem);
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    color: var(--primary-dk);
    margin: 0;
}

.hero-title .title-three {
    font-size: clamp(0.9em, 1rem, 1rem);
    color: white;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Small screen */
@media (width < 1200px) {
    .hero {
        padding: 3rem 0 0 0;
        flex-direction: column;
        justify-content: flex-start;
    }

        .hero::before {
            background-position: center bottom;
            background-size: 80vh;
        }

    .hero-title {
        gap: 5px;
    }
}
/* Mobile */
@media (width < 600px) {
    .hero-content {
        margin: 2rem 0 0 0;
    }

    .hero::before {
        background-position: center bottom;
        background-attachment: scroll;
        background-size: 70vh;
    }
}