@{
    ViewData["Title"] = "Add to Collection";
}
<h1 class="display-4 mt-3">@ViewData["Title"]</h1>

<p>Use the form below to add films to Joel&apos;s collection:</p>

<form method="post">
    <input />
</form>
