@model MovieEntry

@if (Model.Title == "The Boss Baby 3")
{
    ViewData["Title"] = "The Boss Received";
}
else
{
    ViewData["Title"] = "Film Received";

}

<h1 class="display-4 mt-3">@ViewData["Title"]</h1>

@if (Model.Title == "The Boss Baby 3")
{
    <p>Wow, I love @Model.Title! We have entered it to the film collection.</p>
} 
else
{
    <p>Thank you for submitting @Model.Title to the film collection of our friend Joel. G'day!</p>
}
