@{
    ViewData["Title"] = "Home";
}
<style>
    .container {
        margin: 0;
        padding: 0;
        max-width: 100% !important;
    }
</style>
<div class="text-center">
    <div class="hero">
        <div class="hero-content">
            <div class="hero-title">
                <p class="title-one">Our love for film unites us</p>
                <p class="title-two">You Belong Here</p>
                <a class="title-three" asp-controller="Home" asp-action="AddToCollection">Add to collection</a>
            </div>
        </div>
    </div>

    <div style="max-width: 100ch; margin: 0 auto;" class="d-flex flex-column gap-3">
        <h1 class="display-4">The Joel Hilton Film Collection</h1>
        <p>
            From the dawn of time, mankind has sought to capture the essence of storytelling,
            weaving tales that inspire, thrill, and endure. Now, in the grand tradition of cinematic appreciation,
            Joel Hilton's Film Collection stands as a testament to the magic of movies.
            This carefully curated archive spans genres, decades, and artistic visions,
            offering a glimpse into the films that have shaped, moved, and entertained generations.
        </p>
        <p>
            Whether you're searching for a timeless classic,
            a hidden gem, or a cult favorite, Joel Hilton’s collection is your gateway to the wonders
            of the silver screen. Explore, discover, and celebrate the stories that make us laugh, cry, and dream.
        </p>
    </div>
</div>
