@{
    ViewData["Title"] = "Home";
}
<style>
    .container {
        margin: 0;
        padding: 0;
        max-width: 100% !important;
    }
</style>
<div class="text-center">
    <div class="hero">
        <div class="hero-content">
            <div class="hero-title">
                <p class="title-one">Our love for film unites us</p>
                <p class="title-two">You Belong Here</p>
                <p class="title-three">Add to collection</p>
            </div>
        </div>
    </div>


    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
